.title {
  text-align: center;
  font-size: 48px;
  margin-top: 20px;
  font-weight: 700;
}

.form {
  gap: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
}

.input {
  font-size: 16px;
  padding: 10px;
  width: 350px;
  background-color: #ffffff;
  border: 2px solid blue;
  border-radius: 5px;
  color: #242424;
}
.btn {
  border-radius: 5px;
  color: black;
  padding: 10px;
  font-weight: 500;
  &:hover {
    color: blue;
    background-color: yellow;
  }
  cursor: pointer;
}
