.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.items {
  height: 450px;
  border: 1px solid rgb(249, 230, 25);
  border-radius: 8px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.items:hover,
.items:focus {
  transform: scale(1.05);
}

.link {
  color: #93d1c6;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  width: 250px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
